<div class="center">
  <div *ngIf="!selectedGame">
    <h3>
      Sélectionner un jeu :
    </h3>
    <ul >
      <li (click)="selectGame('pyramide')">
        Pyramide
      </li>
      <li (click)="selectGame('immeuble')">
        Immeuble
      </li>
    </ul>
  </div>

  <app-pyramide *ngIf="selectedGame==='pyramide'" [deck]="deck" (gameRestarted)="toggleRestart(true)"></app-pyramide>
  <app-immeuble *ngIf="selectedGame==='immeuble'" [deck]="deck"></app-immeuble>
</div>

<router-outlet></router-outlet>
